@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0; 
}
.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    height: 90vh;
    align-items: center;
    justify-content: center;
    color: whitesmoke
}
.box {
    padding: 50px;
    height: 400px;
    display: grid;
    justify-content: start;
    box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.1);
}
body{
    background-color: whitesmoke;
    color: black;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.border-direita {
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(0, 64, 65);
}
.border-esquerda {
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(226, 133, 37);
}
.border-meio {
    background-color: rgb(1, 105, 114);
}
.tittle {
    margin: 30px 0;
}
h1 {
    text-transform: uppercase;
}
button{
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    cursor: pointer;
    box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    background-color:rgba(0, 0, 0, 0.5);
}